@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  border-radius: 24px;
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  height: 100vh;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  width: 45px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  background-color: white;
}
.first_container {
  width: 25%;
  height: 100vh;
  /* background-color: orange; */
}
.secound_container {
  width: 48%;
  height: 100vh;
  /* background-color: lightcoral; */
}
.third_container {
  width: 28%;
  height: 100vh;

  /* background-color: darkcyan; */
}
.logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 15px 10px;
  padding: 0;
}

.search {
  width: 22px;
  cursor: pointer;
  height: 22px;
  border-radius: 50%;
  margin: 0px 12px;
  padding: 0;
}

.home {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin: 13px 10px;
  padding: 0;
  cursor: pointer;
}
.logout {
  cursor: pointer;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin: 10px 10px;
  padding: 0;
}

.wrapper {
  border-radius: 5px;
}

.wrapper:hover {
  background-color: #3e2edf;
}
/* medium screens */
@media (min-width: 480px) and (max-width: 770px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .first_container {
    width: 100%;
    height: max-content;
  }
  .secound_container {
    width: 100%;
    height: 100vh;
    /* background-color: lightcoral; */
  }
  .third_container {
    width: 100%;
    height: 100vh;

    /* background-color: darkcyan; */
  }
}
/* smaller screen */
@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .first_container {
    width: 100%;
    height: max-content;
  }
  .secound_container {
    width: 100%;
    height: max-content;
    /* background-color: lightcoral; */
  }
  .third_container {
    width: 100%;
    height: 100vh;

    /* background-color: darkcyan; */
  }
  .third_container {
    width: 100%;
    height: max-content;

    /* background-color: darkcyan; */
  }
}
